* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --negro-transparente: rgba(0, 0, 0, 0.654);
    --naranja-cempasuchil: #FF8C00;
    --azul-talavera: #003366;
    --boton-azul: #0756a5;
    --rosa-mexicano: #E91E63;
    --verde-mexicano: #2e7d32;
    --morado-alebrije: #6a1b9a;
    --blanco-barroco: #f5f5f5;
    --sombreados: #2222228c;
    --texto: #000000;
}

a:focus, button:focus {
    outline: 3px solid var(--naranja-cempasuchil);
    outline-offset: 3px;
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

.barra-principal {
    background-color: var(--negro-transparente);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.barra-principal h1 {
    color: var(--blanco-barroco);
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 0;
}

.menu-navegacion ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.menu-navegacion a {
    color: var(--blanco-barroco);
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.boton-azul {
    background-color: var(--boton-azul);
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 100px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: 0.3s;
}

.boton-azul:hover {
    background-color: var(--azul-talavera);
}

.hero-section {
    height: 100vh;
    background: url('../images/inicio/BARCAS.jpg') center center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capsula-blanca{
    background-color: var(--blanco-barroco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px;
    border-radius: 100px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 10px var(--sombreados);
    gap: 40px;
    margin: 0 auto;
}

.texto-capsula {
    font-size: 1.3rem;
    color:var(--texto);
    font-weight: bold;
}

.porque-visitarlo {
    padding: 50px 10%;
    background-color: var(--blanco-barroco);
    font-size: 1.5rem;
    text-align: center;
}

footer {
    background-color: var(--negro-transparente);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.8rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    max-width: 1100px;
    margin:  0 auto;
    padding: 20px;
}
.tarjeta {
    padding: 20px;
    color: var(--blanco-barroco);
    font-weight: bold;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    font-size: 2rem;
    text-shadow: 2px 2px 4px var(--sombreados);
    min-height: 300px;
}


.tarjeta.azul-grande {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    background-color: var(--azul-talavera);
}

.tarjeta.mujeres-central {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background: url('../images/inicio/mujeres.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: flex-end;
}

.tarjeta.campana-derecha {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: url('../images/inicio/campana.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
    justify-content: flex-start;
}

.tarjeta.naranja-pequeña {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: var(--naranja-cempasuchil);
    align-items: flex-end;
    justify-content: flex-end;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.explora {
    background-color: #2d7d32;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

.imagen-circular {
    border-radius: 50%;
}


/*-----------------Apartado de Sabores-----------------*/

.seccion-sabores {
    background-color: var(--azul-talavera);
    color: white;
    padding: 100px 20px;
    text-align: center;
    border-bottom: 8px solid var(--naranja-cempasuchil);
}

.seccion-sabores h1 {
    font-size: 3.5rem;
    color: var(--blanco-barroco);
    margin: 0;
    font-weight: bold;
}

.contenedor-platos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.plato-card {
    background-color: var(--blanco-barroco);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px var(--sombreados);
    transition: transform 0.3s ease;
}

.plato-card:hover {
    transform: translateY(-5px);
}

.foto-plato {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 5px solid var(--blanco-barroco);
    box-shadow: 0 2px 5px var(--sombreados);
}

.plato-card h3 {
    color: var(--azul-talavera);
    margin-bottom: 10px;
}

.plato-card p {
    font-size: 0.95rem;
    color: #444;
    line-height: 1.4;
    min-height: 60px;
}

.nivel-picante {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.badge {
    padding: 5px 15px;
    border: 1px solid var(--azul-talavera);
    border-radius: 20px;
    font-size: 0.85rem;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.badge span {
    font-size: 1rem;
}

/*--------------------Apartado de Destinos--------------------*/

.hero-destinos {
    background-color: var(--rosa-mexicano);
    color: white;
    padding: 100px 20px;
    text-align: center;
    border-bottom: 8px solid var(--naranja-cempasuchil);
}

.hero-destinos h2 {
    font-size: 3.5rem;
    color: var(--blanco-barroco);
    margin: 0;
    font-weight: bold;
}

.grid-destinos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
    padding-bottom: 50px;
}

.tarjeta-destino img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tarjeta-destino h3 {
    margin: 15px 0;
    color: #333;
}

.tarjeta-destino p {
    padding: 0 15px 20px;
    color: #666;
}

/*-----------------------Apartado de Ver Disponibilidad-------------------------*/

.hero-calendario {
    background-color: var(--verde-mexicano);
    color: white;
    padding: 100px 20px;
    text-align: center;
    border-bottom: 8px solid var(--naranja-cempasuchil);
}

.hero-calendario h2 {
    font-size: 3.5rem;
    color: var(--blanco-barroco);
    margin: 0;
    font-weight: bold;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 40px;
    margin-bottom: 0 !important;
}

.card-mes {
    background: white;
    border-radius: 20px;
    border: 3px solid #4444446d;
    overflow: hidden;
    box-shadow: 0 8px 20px var(--sombreados);
    transition: transform 0.3s ease;
}

.card-mes:hover {
    transform: translateY(-10px);
}

.header-mes {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mes h3 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.clima {
    font-size: 0.9rem;
    font-weight: bold;
}

/*Colores de las tarjetas"*/
.enero .header-mes {background-color: #42a5f5;}
.febrero .header-mes {background-color: #f95605;}
.marzo .header-mes {background-color: #66BB6A;}
.abril .header-mes {background-color: #f1270c;}
.mayo .header-mes {background-color: #be9c13d2;}
.junio .header-mes {background-color: #169d7eb6;}
.julio .header-mes {background-color: #4c0bf08c;}
.agosto .header-mes {background-color: #0540a5dd;}
.septiembre .header-mes {background-color: var(--naranja-cempasuchil);}
.octubre .header-mes {background-color: var(--rosa-mexicano);}
.noviembre .header-mes {background-color: var(--verde-mexicano);}
.diciembre .header-mes {background-color: var(--morado-alebrije);}

footer {
    background-color: var(--negro-transparente);
    color: white;
    text-align: center;
    padding: 20px;
}

.cuerpo-mes {
    padding: 20px;
    text-align: left;
}

.tip-clima {
    font-style: italic;
    color: #555;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 10px;
}

.lista-eventos {
    list-style: none;
    padding: 0;
}

.lista-eventos li {
    margin-bottom: 10px;
    font-size: 0.95em;
    color: #333;
}

.lista-eventos strong {
    color: var(--boton-azul);
    font-size: 1.10rem;
}

.destacado {
    border: 5px solid var(--naranja-cempasuchil);
}

/*FASE 3 DISEÑO ADAPTABLE*/

:focus {
    outline: 3px solid var(--naranja-cempasuchil);
    outline-offset: 4px;
}

@media (max-width: 768px) {
    .barra-principal {
        flex-direction: column;
        padding: 15px;
        position: static;
    }

    .menu-navegacion a:focus {
        background-color: var(--naranja-cempasuchil);
        color: white;
        padding: 5px;
        border-radius: 4px;
    }

    .menu-navegacion ul {
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
    }

    .capsula-blanca {
        flex-direction: column;
        border-radius: 25px;
        padding: 20px;
        width: 90%;
        gap: 15px;
        height: auto;
    }

    .texto-capsula {
        font-size: 1.1rem;
        text-align: center;
    }

    .boton-azul {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .grid-layout {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
        padding: 10px;
        gap: 15px;
    }

    .tarjeta {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
        min-height: 250px;
        font-size: 1.5rem;
    }

    .tarjeta.azul-grande {
        height: 250px;
    }

    .contenedor-grid {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .hero-section {
        background-attachment: scroll;
        background-position: center;
    }
}

/*FASE 4 DISEÑO DINAMICO*/

.modal {
    display: none; position: fixed; z-index: 1000;
    left: 0; top: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    margin: 10% auto; padding: 30px;
    border-radius: 15px; width: 60%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.close-modal {
    position: absolute; right: 20px; top: 10px;
    font-size: 28px; font-weight: bold; cursor: pointer;
}

.itinerario-grid { display: flex; gap: 20px; margin-top: 20px; }
.col {flex: 1; }
.col h3 {color: #d32f2f; border-bottom: 2px solid #d32f2f; }
.col a { text-decoration: none; color: #1976d2; font-weight: bold; }
.col a:hover { text-underline-offset: 3px; text-decoration: underline; }
.eventos-box { background: #fff3e0; padding: 15px; border-radius: 8px; margin-top: 20px; }

.seccion-interactiva {
    padding: 80px 20px;
    margin-top: 20px;
    clear: both;
    position: relative;
    z-index: 1;
}

.hero-calendario h1 {
    margin-bottom: 40px;
    position: relative;
}

.formulario-plan {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
